pandas
pymysql
sqlalchemy
matplotlib
openpyxl
networkx
plotly-express
kaleido==0.1.0
nltk
wordcloud
liwc
torch==2.3.0
pysentimiento
tqdm
gensim
spacy
scikit-learn
python-louvain
botometer==2.0.1
flask
flask-session